<div class="card-header">
	<div class="card-media-block">
		<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/imabigteemo-profile_image-1e5b5c67c1c71f14-300x300.jpeg" class="card-media-image">
		<div class="card-media-description">
			<h4>{{ participant.summonerName }}</h4>
		</div>
	</div>
</div>
<div class="card-block">
	...
	<div class="row"  style="border: 1px dotted lightblue;">
		<div class="col-xs-4">
			a
		</div>
		<div class="col-xs-4">
			b
		</div>
		<div class="col-xs-4">
			c
		</div>
	</div>
</div>