/* h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.flex-1 {
    flex-grow: 1;
} */
.content-area {
	background: linear-gradient(to right, rgba(164,217,245,1) 0%, rgba(247,202,244,1) 100%);
}