<div class="card clickable" (click)="doThis(champion)">
    <div class="card-header">
        {{ champion.name }}
    </div>
    <div class="card-block">
        <!-- <div class="card-title">Hello, it's me</div> -->
        <div class="card-img">
            <img src="{{imgUrl}}{{champion.image.full}}" />
        </div>
        <div style="padding-top: 5px" *ngIf="champion.hello">
            <span class="label label-blue"><clr-icon shape="happy-face"></clr-icon>Picked</span>
        </div>

    </div>
    <!-- <div class="card-footer"><button class="btn btn-sm btn-link">I Choose You</button></div> -->
</div>